{% extends "base.html" %} {%block content %}

<div class="container-fluid">
    <main role="main" class="col-sm-12 ml-lg-auto col-md-12 pt-3">

        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="color:red">&times;</span></button>
                <!-- <strong>Title</strong> -->{{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>

        <div class="row">
         <p class="text-center"> The page you are looking for can't be found. </p>
          <img src="{{ url_for('static', filename='logos/404.gif')}}'" class="img-fluid" alt="Responsive image">
           <p class="text-center"><a href="{{ url_for('index') }}">Let's go somewhere nice</a> </p>

        </div>

{% endblock %}
