<p>Welcome! Thanks for signing up for the HUMAN vs MACHINE competition. 
    
Please follow this link to activate your account:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>
<p>Best wishes!</p>