{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	 <main role="main" class="col-sm-12 ml-lg-auto col-md-12 pt-3">
	   <div class="row"> 

Yaay Redirect here 

Add a message for activation 

  </div> <!-- /.row -->
	 </main>
  </div> <!-- /.container-fluid -->